@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Poppins", sans-serif
}


.ball span:nth-child(1) {
    position: fixed;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: -520px;
    margin-top: -200px;
    background-color: #15c5fad0;
    border: 2px solid #15c5fad0;
    animation: bounce 20s infinite alternate;
    -webkit-animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-95px);
    }
}

@-webkit-keyframes bounce {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-15px);
    }
}

.ball span:nth-child(2) {
    position: fixed;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: -520px;
    margin-top: -400px;
    background-color: #15c5fad0;
    border: 2px solid #15c5fad0;
    animation: bounce2 20s infinite alternate;
    -webkit-animation: bounce2 1s infinite alternate;
}

@keyframes bounce2 {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(95px);
    }
}

@-webkit-keyframes bounce2 {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-15px);
    }
}

.text {
    align-items: center;
    display: flex;
    justify-content: right;
    position: relative;
}

h1 {
    margin-bottom: 40px;
    margin-right: 180px;
    font-size: 40px;
    color: #fff;
}

.error-validation {
    color: #f37979;
    position: absolute;
    top: 58px;
    margin-left: -80px;
    font-size: 12px;
    border-color: #ff1a1a;
}

.template {
    display: none;
}


#confirm,
#exibir {
    position: absolute;
    top: 21px;
    left: 425px;
    cursor: pointer;
    color: #c7c7c7;
    display: none;
}

#pass,
#pass2 {
    position: absolute;
    top: 21px;
    left: 425px;
    cursor: pointer;
    color: #c7c7c7;
}

.seta {
    width: 60px;
    height: 60px;
    padding: 20px;
    margin-top: -32px;
    margin-left: -160px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--red);
}


.um {
    color: #c7c7c7;
    margin-bottom: 20px;
    margin-right: 120px;
}

.dois {
    margin-bottom: 3px;
    margin-top: 5px;
    margin-left: -70px;
    font-size: 17px;
    color: #15c5fad0;
}

.tres {
    margin-left: -70px;
    color: #c7c7c7;
    margin-bottom: 30px;
    font-size: 14px;
    width: 150%;
}

.ou {
    position: relative;
}

.oi {
    position: relative;
}

body {
    background: linear-gradient(#004C99, #03315f);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;



}

#nameForm {
    width: 600px;
    height: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 15px;
    border-bottom: 2px solid;
    border-top: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
    border-color: #858585;

}

.box {
    flex-direction: column;
    padding: 80px 120px 50px;
    margin-top: -70px;
}

.linha {
    position: absolute;
    padding: 10px 800px;
    overflow: hidden;
    border: none;
    height: 10px;
    margin-left: -800px;
    cursor: context-menu;


}

.linha span {
    position: absolute;
    display: block;
}

.linha span:nth-child(1) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 4px;
    background: linear-gradient(1deg, transparent, #15c5fad0);
    animation: btnv3 5s linear infinite;
    animation-delay: .90s;
}

@keyframes btnv3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.novasenha,
#confirmarsenha {
    margin-bottom: 25px;
    align-items: center;
    display: block;
    width: 132%;
    margin-left: -100px;
    padding: 16px 41px;
    outline: none;
    color: #fff;
    background-color: transparent;
    font-size: 12px;
    border-radius: 7px;
    border-bottom: 2px solid;
    border-top: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
    border-color: #858585;
    position: relative;

}

.novasenha:hover,
#confirmarsenha:hover {
    border-color: #15c5fad0;

}

label {
    position: absolute;
    top: 80;
    left: 0;
    color: #c7c7c7;
    font-size: 17px;
    pointer-events: none;
    transition: .5s;
    width: 10%;
}

.nova {
    margin-top: 18px;
    width: 40%;
    margin-left: -40px;

}

.confirmar {
    margin-top: 18px;
    width: 40%;
    margin-left: -40px;
}


.novasenha:focus~.nova,
.novasenha:valid~.nova {
    top: -15px;
    left: -30px;
    color: #15c5fad0;
    font-size: 13px;

}

#confirmarsenha:focus~.confirmar,
#confirmarsenha:valid~.confirmar {
    top: -15px;
    left: -30px;
    color: #15c5fad0;
    font-size: 13px;


}

form input[type="submit"] {
    cursor: pointer;
    width: 40%;
    margin-bottom: 10px;
    margin-top: 30px;
    margin-left: 180px;
    border: none;
    border-radius: 5px;
    background: #15c5fad0;
    color: #fff;
    font-size: 15px;
    transition: all 0.3s ease;
    padding: 12px;
    letter-spacing: 4px;
    font-weight: 700;
    transition: .5s;



}

form input[type="submit"]:hover {
    cursor: pointer;
    background: #1289add8;
    box-shadow: 0px 10px 40px -12px #000000;
}


.logo {
    height: 95px;
    width: 200px;
    margin-top: 4px;
    padding: 20px 50px;
    z-index: 10;
    position: relative;
    margin-top: -50px;
}

@media (max-width: 1595px) {
    .linha span:nth-child(1) {
        display: none;
    }

}

@media (max-width: 1065px) {
    .ball span:nth-child(1) {
        display: none;
    }

    .ball span:nth-child(2) {
        display: none;
    }

}

@media (min-width: 300px) and (max-width: 735px) {
    #nameForm {
        width: 70%;
    }

    .text {
        width: 50%;
    }

    .linkseta,
    h1 {
        margin-right: -20px;
        font-size: 42px;
    }

    .um,
    .dois,
    .tres {
        font-size: 12px;
    }

    .um {
        margin-right: -10px;
        width: 70%;
    }

    .seta {
        padding: 35px;
    }

    #senha,
    #confirmarsenha {
        width: 90%;
        margin-left: -35px;
        margin-top: 1px;
        margin-bottom: -5px;
    }

    .nova,
    .confirmar {
        width: 150%;
        padding: 0 50px;
    }

    .dois,
    .tres {
        padding: 0 40px;
        width: 180%;
        margin-top: 38px;
        margin-right: 30px;


    }

    form input[type="submit"] {
        width: 50%;
        margin-left: 85px;
        font-size: 13px;
        padding: 12px;
        letter-spacing: 2px;
        font-weight: 500;
    }

    .fa-eye {
        top: 20px;
        left: 118px;
    }

    .error-validation {
        margin-left: -32px;
        font-size: 10px;
        width: 200%;

    }


}

@media (min-width: 595px) and (max-width: 735px) {

    .linkseta,
    h1 {
        margin-right: -20px;
        font-size: 42px;
    }

    .um {
        margin-right: -10px;
        width: 70%;
    }

    .dois,
    .tres {
        width: 150%;
    }

    form input[type="submit"] {
        margin-left: 120px;
    }

    .fa-eye {
        top: 20px;
        left: 262px;
    }


}

@media (max-width: 713px) {

    .fa-eye {
        left: 255px;
    }


}

@media (max-width: 704px) {

    .fa-eye {
        left: 250px;
    }


}


@media (max-width: 693px) {

    .fa-eye {
        left: 243px;
    }
}

@media (max-width: 682px) {

    .fa-eye {
        left: 236px;
    }
}

@media (max-width: 671px) {

    .fa-eye {
        left: 230px;
    }
}

@media (max-width: 661px) {

    .fa-eye {
        left: 224px;
    }
}

@media (max-width: 651px) {

    .fa-eye {
        left: 218px;
    }
}

@media (max-width: 641px) {

    .fa-eye {
        left: 210px;
    }
}

@media (max-width: 630px) {

    .fa-eye {
        left: 205px;

    }
}

@media (max-width: 620px) {

    .fa-eye {
        left: 195px;

    }
}


@media (max-width: 607px) {

    .fa-eye {
        left: 190px;

    }
}

@media (max-width: 598px) {

    .fa-eye {
        left: 185px;

    }
}

@media (max-width: 588px) {

    .fa-eye {
        left: 178px;

    }
}

@media (max-width: 578px) {

    .fa-eye {
        left: 172px;

    }
}

@media (max-width: 568px) {

    .fa-eye {
        left: 165px;

    }
}

@media (max-width: 558px) {

    .fa-eye {
        left: 160px;

    }
}

@media (max-width: 548px) {

    .fa-eye {
        left: 155px;

    }
}

@media (max-width: 542px) {

    .fa-eye {
        left: 150px;

    }
}

@media (max-width: 531px) {

    .fa-eye {
        left: 145px;

    }
}

@media (max-width: 524px) {

    .fa-eye {
        left: 140px;

    }
}

@media (max-width: 516px) {

    .fa-eye {
        left: 135px;

    }
}

@media (max-width: 510px) {

    .fa-eye {
        left: 130px;

    }
}

@media (min-width: 300px) and (max-width: 360px) {

    .linkseta,
    h1 {
        font-size: 30px;
    }

    .dois,
    .tres {
        font-size: 10px;
    }

    form input[type="submit"] {
        margin-left: 105px;
        font-size: 10px;
        width: 40%;
    }

    .fa-eye {
        left: 115px;
    }

    .seta {
        height: 50px;
        padding: 30px;
        margin-left: -150px;
    }

}