@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #323232;
    border: none;
}

body {
    padding-top: 10vh;
    background: linear-gradient(#004C99, #03315f);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
}

#container {
    width: 560px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0px 10px 40px -12px #000000;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;


}

.logo {
    position: absolute;
    margin-top: -90px;
    padding: 20px 50px;
    z-index: 0;
}

.linha {
    position: absolute;
    padding: 12px 220px;
    color: #F6BE00;
    text-decoration: none;
    font-weight: 700;
    transition: .5s;
    border: none;
    height: 40px;
    overflow: hidden;
    margin-top: 85px;
}

.linha span {
    position: absolute;
    display: block;
}

.linha span:nth-child(1) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 4px;
    background: linear-gradient(270deg, transparent, #F6BE00);
    animation: btnv3 1s linear infinite;
    animation-delay: .90s;
}

@keyframes btnv3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    background-image: linear-gradient(to bottom, #fda500, #816a1f, #F6BE00);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -5px;
}

.buttonsForm {
    margin-top: 5px;
    margin-bottom: 15px;
    position: relative;
    border-radius: 30px;
    width: 240px;
    box-shadow: 0 0 7px 0 #F6BE00;
}

.buttonsForm button {
    cursor: pointer;
    background: transparent;
    border: none;
    position: relative;
    padding: 9px 20px;
}

.btnColor {
    position: absolute;
    width: 108px;
    height: 100%;
    background: linear-gradient(to right, #004C99, #F6BE00);
    border-radius: 30px;
    transition: all 0.7s ease;
}

.check {
    margin-top: 10px;
    display: flex;
    align-items: right;

}

.check2 {
    display: flex;
    margin-top: -8px;
}

.checkbox {
    appearance: none;
    height: 10px;
    cursor: pointer;
    outline: none;
    border: 2px solid #F6BE00;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    top: -3px;
    border-radius: 5px;
    padding: 8px;
}

.checkbox:before {
    content: '';
    position: absolute;
    height: 8px;
    width: 4px;
    background: none;
    opacity: 0;
    transition: all 600ms ease-in-out;
    border-right: 4px solid #004C99;
    border-bottom: 4px solid #004C99;
    transform: rotate(45deg);
    top: 1px;
    margin-left: -4px;

}

.checkbox:checked:before {
    opacity: 1;

}

.checkbox:focus {
    box-shadow: 0 0 5px #F6BE00;

}

input,
label {
    display: block;
    outline: none;
    width: 100%;
}

a {
    color: #F6BE00;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.full-box {
    flex: 1 1 100%;
    position: relative;
}

.half-box {
    flex: 1 1 45%;
    position: relative;
}

.spacing {
    margin-right: 2.5%;
}

label {
    font-weight: bold;
    font-size: .8rem;
}

input {
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: .9rem;
    margin-bottom: 40px;
}

input:focus {
    border-color: #F6BE00;
}

#pass,
#pass2 {
    position: absolute;
    top: 30px;
    left: 225px;
    cursor: pointer;
}

#btn1,
#btn2 {
    display: none;
    position: absolute;
    top: 30px;
    left: 225px;
    cursor: pointer;
}

.btn1 {
    position: relative;
    display: inline-block;
    padding: 12px 197px;
    background: #F6BE00;
    color: #172031;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
    border-radius: 5px;
    transition: .5s;
    border: none;
    height: 40px;

}

.btn1:hover {
    background: #F6BE00;
    border-radius: 15px;
    color: #ffffff;
    box-shadow: 0px 10px 40px -12px #000000;
}


#termos,
#termos-label {
    display: inline-block;
    width: auto;
    margin-right: 8px;
}

#termos-label>a {
    text-decoration: none;
}

#termos-label>a:hover {
    text-decoration: underline;
}

#autorizar {
    margin-right: 8px;
}

#autorizar,
#autorizar-label {
    display: inline-block;
    width: auto;

}

#data {
    cursor: text;
}

.retorno {
    margin-top: 15px;
}

.retorno a {
    text-decoration: none;
}

.retorno:hover a {
    text-decoration: underline;
}

.error-validation {
    color: #e63636;
    position: absolute;
    top: 62px;
    font-size: 12px;

}

.template {
    display: none;
}



section.images {
    width: 40vw;
    display: flex;
    justify-content: flex-end;
    padding: 4rem;
    flex-direction: column;
}

section.images img {
    width: 100%;
}

#logo {
    margin-top: -120px;
    margin-left: -90px;
}

section.images .circle {
    position: absolute;
    height: 100%;
    width: 100%;
    top: -30px;
    left: 0;
    background: linear-gradient(45deg, #F6BE00, #004C99);
    clip-path: circle(40% at right 20%);
    z-index: -1;
}

@media (max-width: 1481px) {
    .linha {
        display: none;
    }
}

@media (max-width: 1290px) {
    .logo {
        display: none;
    }
}

@media (max-width: 715px) {
    .circle {
        display: none;
    }
}

@media(max-width: 700px) and (min-width: 540px) {
    #container {
        width: 70%;
    }

    .btn1 {
        padding: 12px 90px;
        margin-left: 35px;
    }

    .fa-eye {
        position: absolute;
        top: 30px;
        left: -145px;
        cursor: pointer;

    }
}

@media(max-width: 630px) {
    #container {
        width: 50%;
    }

    .btn1 {
        padding: 12px 40px;
        margin-left: 30px;
    }

    h1 {
        font-size: 20px;
        margin-bottom: 4px;
    }

    #password {
        margin-right: 200px;
    }

    #autorizar-label {
        font-size: 10px;
    }

    #termos-label {
        font-size: 10px;
    }

    body {
        padding-top: 2vh;
    }
}


@media(max-width: 419px) {
    #container {
        width: 75%;
    }

    body {
        padding-top: -10vh;
    }

    .btn1 {
        margin-left: 30px;
    }

    #autorizar-label {
        font-size: 10px;
    }

    #termos-label {
        font-size: 10px;
    }

    #user {
        margin-right: 200px;

    }
}

@media(max-width: 630px) and (min-width: 420px) {
    #container {
        width: 75%;
    }

    body {
        padding-top: -10vh;
    }

    .btn1 {
        margin-left: 45px;
    }

    #autorizar-label {
        font-size: 11px;
    }

    #termos-label {
        font-size: 11px;
    }

    #user {
        margin-right: 200px;

    }

    #btn1,
    #btn2,
    #pass,
    #pass2 {
        left: 310px;
    }

}

@media(max-width: 393px) {

    .btn1 {
        margin-left: 25px;
    }

    #autorizar-label {
        font-size: 9px;
    }

    #termos-label {
        font-size: 10px;
    }

    .error-validation {
        font-size: 11px;
    }

    #user {
        margin-right: 200px;

    }

    #container {
        width: 78%;
    }

    .fa-eye {
        left: 225px;
    }

}

@media(min-width: 360px) and (max-width: 376px) {

    .btn1 {
        margin-left: 18px;
    }

    #autorizar-label {
        font-size: 8px;
    }

    #termos-label {
        font-size: 10px;
    }

    .fa-eye {
        left: 225px;
    }

    .error-validation {
        font-size: 11px;
    }

    #user {
        margin-right: 200px;

    }

    #container {
        width: 80%;
    }
}

@media(min-width: 540px) and (max-width: 691px) {

    .btn1 {
        margin-left: 58px;
    }

    #container {
        width: 70%;
    }

    #autorizar-label {
        font-size: 11px;
    }

    #termos-label {
        font-size: 11px;
    }

    .fa-eye {
        left: 295px;
    }
}

@media(min-width: 655px) and (max-width: 698px) {

    #btn1,
    #btn2,
    #pass,
    #pass2 {
        left: 190px;
    }
}

@media(max-width: 504px) and (min-width: 427px) {

    #btn1,
    #btn2,
    #pass,
    #pass2 {
        left: 250px;
    }
}




@media(min-width: 418px) and (max-width: 538px) {

    .fa-eye {
        left: 270px;
    }
}

@media(min-width: 497px) {

    .fa-eye {
        left: 230px;
    }
}

@media(min-width: 418px) and (max-width: 499px) {

    .fa-eye {
        left: 300px;
    }
}


@media (min-width: 912px) and (max-width: 915px) {
    #container {
        width: 90%;
    }

    #autorizar-label {
        font-size: 18px;
    }

    #termos-label {
        font-size: 18px;
    }

    label {
        font-size: 20px;
    }

    input {
        font-size: 20px;
    }

    .btn1 {
        margin-left: 120px;
        font-weight: 900;
        font-weight: bold;
    }

    .fa-eye {
        left: 335px;
        top: 45px;
    }


}

@media (min-width: 912) and (max-width:914) {
    .error-validation {
        top: 25px;
        font-size: 19px;

    }

    #btn1,
    #btn2,
    #pass,
    #pass2 {
        left: 310px;
    }

}